{
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"jsxSingleQuote": true,

	"plugins": ["@trivago/prettier-plugin-sort-imports"],

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"/ui/",
		".*/hooks/.*",
		".*/screens/.*",
		".*/components/.*",
		"^../(.*)",
		"^./(.*)",
		"/module.scss/"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["jsx"]
}
