@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/animations.scss';

.wrapper {
	position: relative;
	button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		> svg {
			animation: opacity 0.8s;

			> path {
				fill: $white;
			}
		}
	}
	> button {
		font-size: 30px;
	}
}
.menu {
	position: absolute;
	top: calc(100% + 8px);
	right: 0;
	background-color: rgba($accent, 0.5);
	padding: 10px 12px;
	font-size: 16px;
	box-shadow: $bx-16;
	border-radius: 10px 0 10px 10px;
	min-width: 116px;
	display: none;
	animation: opacity 0.4s;

	&.show {
		display: block;
	}
	ul {
		list-style: none;

		button {
			font-size: 16px;
		}
		a {
			text-decoration: none;
			color: $white;

			&:hover,
			&:active {
				color: $accent;
				margin: 4px 0;
			}
		}
	}
}
