@import '../../../assets/styles/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> button {
		background: transparent;
		border: none;
		cursor: pointer;
		outline: none;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> button {
		background: transparent;
		border: none;
		cursor: pointer;
		outline: none;
	}
}
