$accent: hsl(332, 55%, 46%);
$white: #f1e8e8;
$brown: #310c24;
$black: darken($accent, 38%);
$ligth-brown: rgb(81, 23, 52);
$hard-dark-accent: darken($accent, 30%);
$dark-accent: darken($accent, 15%);

$bx-accent: 0 4px 4px 0 rgba($accent, 0.25);
$bx-16: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

$mobile: 480px;

$default-font: 'Roboto', sans-serif;
